<div class="border border-dark">
    <div class="row text-center">
        <div class="col-3 p-3 border-right  d-flex align-items-center">
            <p class="viewer"> <%= fa_icon("youtube 2x", class: "youtubeicon") %><%= fa_icon("eye") %>
                <%= live = getYoutubeLiveJson(youtuberesult["id"]["videoId"])
                    live["items"][0]["liveStreamingDetails"]["concurrentViewers"]%></p>
        </div>
        <div class="col-9 border-bottom align-middle d-flex align-items-center">
            <p class="rankname h4 m-3">
                <%= channel = getYoutubeChannelJson(youtuberesult["snippet"]["channelId"])
                image_tag(channel["items"][0]["snippet"]["thumbnails"]["default"]["url"], :class => "liveicon m-3") %>
                <%= link_to "#{youtuberesult["snippet"]["title"]}", "https://www.youtube.com/watch?v=#{youtuberesult["id"]["videoId"]}", target:"_blank", rel:"noopener noreferrer"%>
            </p>
        </div>
    </div>
</div>