<%= stylesheet_link_tag    'slicebox/slicebox' , :media => "all"%>
<%= stylesheet_link_tag    'slicebox/custom' , :media => "all"%>
<%= javascript_include_tag 'slicebox/modernizr.custom.46884'%>
<%= javascript_include_tag 'slicebox/jquery.slicebox'%>
<%= javascript_include_tag 'slicebox/noticeslide'%>

<% content_for :mosttop do %>

<div class="sliders">
  <ul id="sb-slider" class="sb-slider">
      <li><a href="/description"><img src=<%= image_url('top-notice/SiteOpen.png') %> title="タイムアタック番付サイト開設！"></a></li>
  </ul>
  <div id="nav-arrows" class="nav-arrows">
    <a href="#">
      <p><%= fa_icon("chevron-right 5x") %></p>
    </a>
    <a href="#">
      <p><%= fa_icon("chevron-left 5x") %></p>
    </a>
  </div>
</div>

<% end %>

<div class="container">
  <div class="card-deck">
    <div class="row">
      <% for num in 0.. @dungeons.size - 1 %>
      <div class="col-md-12 col-lg-6 mb-3">
        <%= render 'top_ranking', { topranking: @topranks[num] , bgcolor: @colors[num],dungeon:@dungeons[num] ,link: @links[num]} %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  Slide_Notice();
</script>