<div class="border border-dark">
    <div class="row text-center">
        <div class="col-3 p-3 border-right d-flex align-items-center">
            <p class="viewer">
                <img class="niconicoicon" src=<%=image_url('user/niconico.png') %>>
                <%= fa_icon("eye") %><%= niconicoresult["viewCounter"] %>
            </p>
        </div>
        <div class="col-9 border-bottom d-flex align-items-center">
            <p class="rankname h4 p-3">
                <%= image_tag(niconicoresult["communityIcon"], :class => "liveicon m-3") %>
                <%= link_to "#{niconicoresult["title"]}", "https://nico.ms/#{niconicoresult["contentId"]}" , target:"_blank", rel:"noopener noreferrer" %>
            </p>
        </div>
    </div>
</div>