<% if ranks.offset_value.nil? %>
<% @num = 0 %>
<%else%>
<% @num = ranks.offset_value %>
<%end%>
<% ranks.each do |rank| %>
<% @num = @num + 1 %>

<div class="border border-dark">
    <div class="row m-0">
        <div class="col-4 <%= RankColor(@num) %> border-bottom d-flex align-items-center">
            <p class="h3 p-3 mx-auto">
                <%= @num %>位
            </p>
        </div>
        <div class="col-3 border-bottom d-flex align-items-center">
            <% if rank.user.icon.url == nil || rank.user.icon.url =="" %>
                <%= image_tag(image_url('user/NoImage.png'),class: "img-fluid border") %>
            <% else %>
                <%= image_tag rank.user.icon.to_s,{:class => "img-fluid border"} %>
            <% end %>
        </div>
        <div class="col-5 rankname border-bottom d-flex align-items-center">
            <p class="h5 p-3 mx-auto">
                <% if rank.user_id != nil then %>
                <%= link_to rank.name, "/user/#{rank.user_id}"%>
                <% else %>
                <%= rank.name %>
                <% end %>
            </p>
        </div>
        <div class="col-12 d-flex align-items-center">
            <p class="h3 p-3 mx-auto"><%= GetResultTime(rank.result) %></p>
            <div class="float-right d-flex align-items-center">
                <% if rank.movie != nil && rank.movie != "" then %>
                <%= link_to rank.movie, target:"_blank", rel:"noopener noreferrer" do %>
                <button type="button" class="btn btn-info rounded-pill">動画</button>
                <% end %>
                <% else %>
                <button type="button" class="btn btn-info rounded-pill" disabled>動画</button>
                <% end %>

                <% if rank.recordimage.url != nil && rank.recordimage.url != "" then %>
                <button type="button" class="btn btn-info rounded-pill m-3" data-toggle="modal"
                    data-target="#imageModal<%=dungeonname+@num.to_s%>">画像</button>
                <%= render 'ranking/image_modal', {rank: rank,dungeonname:dungeonname,num: @num} %>
                <% else %>
                <button type="button" class="btn btn-info rounded-pill m-3" disabled>画像</button>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>