<% @ranks.each do |rank| %>
<tr>
    <td>
        <%=
        if rank.user_id != nil then
            link_to rank.name, "/user/#{rank.user_id}"
        else
            rank.name
        end
        %></td>
    <td><%= rank.dungeon %></td>
    <td><%= GetResultTime(rank.result) %></td>
    <td>
        <% if rank.movie == "" then %>
        なし
        <% else %>
        <%= link_to "動画", rank.movie %>
        <% end %>
    </td>
    <td><%= rank.created_at.year %>/<%= rank.created_at.month %>/<%= rank.created_at.day %></td>
    <td>なし
        <!--<% if rank.recordimage == "" then %>
                なし
            <% else %>
               <%= image_tag rank.recordimage.url %>
            <% end %>-->
    </td>
</tr>
<% end %>