<% @num = @ranks.offset_value %>
<% @ranks.each do |rank| %>
<% @num = @num + 1 %>
<div class="border border-dark">
    <div class="row text-center">
        <div class="col-6 border-right border-bottom">
            <p class="h4 m-3 <%= RankColor(@num) %>"> <%= @num %>位</p>
        </div>
        <div class="col-6 border-left border-bottom">
            <p class="rankname h4 m-3">
                <% if rank.user_id != nil then %>
                <%= link_to rank.name, "/user/#{rank.user_id}"%>
                <% else %>
                <%= rank.name %>
                <% end %>
            </p>
        </div>
        <div class="col-10">
            <p class="h3 m-3"><%= GetResultTime(rank.result) %></p>
        </div>
    </div>
</div>
<% end %>