<% set_meta_tags title: "記録申請",description:"シレン2 タイムアタック番付サイトの記録申請所です！ぜひたくさん記録を申請してね！！" %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card bg-light">
                <div class="card-title pt-3 pl-3">
                    <h2 class="d-inline">記録申請</h2>
                    <div class="d-inline pl-3">
                        <%= link_to "/ranking/description" do %>
                        <button type="button" class="btn btn-warning">申請について</button>
                        <% end %>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <% @rank.errors.full_messages.each do |message| %>

                        <p class="text-danger"><%= message %></p>

                        <% end %>
                        <%= form_with(model: @rank,local: true,url:{action:'recordconfirm'}) do |r|%>
                        <div class="record-table">
                            <table class="table table-bordered">
                                <tr class="table-success">
                                    <td><%= r.label :name, "名前" %><p class="needContent">※必須</p>
                                    </td>
                                    <td><%= r.text_field(:name,{:maxlength => 15,class:"recordform-part"}) %></td>
                                </tr>
                                <tr class="table-success">
                                    <td><%= r.label :dungeon_id, "ダンジョン" %><p class="needContent">※必須</p>
                                    </td>
                                    <td>
                                        <%= r.collection_select :dungeon_id, Dungeon.all, :id, :name, include_blank: "選択して下さい", class:"recordform-part"  %>
                                    </td>
                                </tr>
                                <tr class="table-success">
                                    <td><%= r.label :result, "記録" %><p class="needContent">※必須</p>
                                    </td>
                                    <td>
                                        <div class="recordform-part">
                                            <%= select_tag "hour",options_for_select((0..7),class:'option',selected: params["hour"].nil? ? 7 : params["hour"]) %>
                                            時間
                                            <%= select_tag "minute",options_for_select((0..59),class:'option',selected: params["minute"].nil? ? 0 : params["minute"]) %>
                                            分
                                            <%= select_tag "second",options_for_select((0..59),class:'option',selected: params["second"].nil? ? 0 : params["second"]) %>
                                            秒
                                    </td>
                                </tr>
                                <tr class="table-primary">
                                    <td><%= r.label :movie, "動画URL" %><p class="selectContent">※どちらか一つは必須</p>
                                    </td>
                                    <td><%= r.text_field(:movie,class:"recordform-part") %></td>
                                </tr>
                                <tr class="table-primary">
                                    <td><%= r.label :recordimage, "画像" %><p class="selectContent">※どちらか一つは必須</p>
                                    </td>
                                    <td><%= r.file_field :recordimage,class:"recordform-part" %></td>
                                </tr>
                                <% now = Time.current %>
                                <% nowmonth = now.month %>
                                <% nowday = now.day %>
                                <% if (nowmonth == 1 || nowmonth == 4 || nowmonth == 7 || nowmonth == 10) && (nowday <= 5) %>
                                <tr class="table-secondary">
                                    <td><%= r.label :beforeseason, "前シーズン記録" %></td>
                                    <td><%= r.check_box :beforeseason,class:"recordform-part" %></td>
                                </tr>
                                <% end %>
                                <tr class="table-secondary">
                                    <td><%= r.label :remark, "備考" %></td>
                                    <td><%= r.text_field :remark, class:"recordform-part" %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="float-right pt-1 pr-5">
                            <%= r.submit("申請",{:class =>"btn btn-primary btn-lg pt-3"}) %>
                        </div>

                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //ナタネ村を非表示する
    document.getElementById("nataneVillage").style.display = "none";
</script>