<% content_for :title do %>
記録申請
<% end %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card bg-light">
                <h2 class="card-title float-left pt-3 pl-3">記録申請</h2>
                <div class="card-body">
                    <div class="card-text">
                        <% @rank.errors.full_messages.each do |message| %>

                        <%= message %>

                        <% end %>
                        <%= form_with(model: @rank,local: true,url:{action:'recordconfirm'}) do |r|%>
                        <div>
                            <table class="table table-bordered">
                                <tr class="table-success">
                                    <td><%= r.label :name, "名前" %></td>
                                    <td><%= r.text_field(:name,{:maxlength => 15}) %></td>
                                </tr>
                                <tr class="table-success">
                                    <td><%= r.label :dungeon, "ダンジョン" %></td>
                                    <td>
                                        <%= r.select :dungeon, [["最果てへの道99FTA", "最果てへの道99FTA"], ["カラクロTA", "カラクロTA"], ["ストーリーTA", "ストーリーTA"], ["鬼ヶ島ありありTA", "鬼ヶ島ありありTA"], ["女王グモ捕獲TA", "女王グモ捕獲TA"]]  %>
                                    </td>
                                </tr>
                                <tr class="table-success">
                                    <td><%= r.label :result, "記録" %></td>
                                    <td>
                                        <%= number_field_tag("hour",params["hour"], in: 0...99, maxlength:2,size:2) %>
                                        時間
                                        <%= number_field_tag("minute",params["minute"], in: 0...60, maxlength:2,size:2) %>
                                        分
                                        <%= number_field_tag("second",params["second"], in: 0...60, maxlength:2,size:2) %>
                                        秒
                                    </td>
                                </tr>
                                <tr class="table-primary">
                                    <td><%= r.label :movie, "URL" %></td>
                                    <td><%= r.text_field(:movie) %></td>
                                </tr>
                                <tr class="table-primary">
                                    <td><%= r.label :recordimage, "画像" %></td>
                                    <td><%= r.file_field :recordimage %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="float-right pt-1 pr-5">
                            <%= r.submit("申請",{:class =>"btn btn-primary btn-lg pt-3"}) %>
                        </div>

                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //ナタネ村を非表示する
    document.getElementById("nataneVillage").style.display = "none";
</script>