<% set_meta_tags title: "#{@datetitle} #{@dungeonname}ランキング",description:"シレン2 タイムアタック番付サイトの#{@datetitle} #{@dungeonname}ランキングです！１位目指して頑張ろう！" %>

<div class="container">
    <div class="row">
        <nav class="navbar d-md-none navbar-expand-md col-md-12 navbar-dark bg-info m-3">
            <h4 class="navbar-brand float-left">ランキングアーカイブ</h4>
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#archiveData"
                aria-controls="archiveData" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="archiveData">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <%= link_to "歴代ランキング", "/ranking/#{@dungeonurl}",class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <% if @archives != nil %>
                        <% @archives.each do |yyyymm, count| %>
                        <%= link_to ymconv(yyyymm), "/ranking/#{@dungeonurl}/#{yyyymm}",class:"nav-link"  %>
                        <% end %>
                        <% end %>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="col-md-9 col-md-auto mt-3">
            <% if @ranks != nil %>
            <div class="card">
                <div class="card-header <%= @color %> text-center">
                    <%= link_to "/ranking/#{@dungeonurl}/#{ Date.today.year.to_s + ("%02d" % Date.today.month).to_s}" do %>
                    <h3 class="card-title float-left text-white">
                        <%= @datetitle%> <span class="h2"><%=@dungeonname  %></span>
                    </h3>
                    <% end %>
                    <a href="/ta/<%= @dungeonurl %>">
                        <button type="button"
                            class="btn btn-outline-light float-right"><%= fa_icon("chevron-right") %>解説</button>
                    </a>
                </div>
                <div class="card-body bg-light">
                    <div class="card-text">
                    <%= form_tag controller: 'ranking' , action: 'dungeon' , remote:true, method: :post do %>
                    <div class="m-3 d-inline-block">
                        <strong> 動画付のみ:</strong>
                        <%= check_box :filt, "movie_only" ,checked: @movieonly %>
                    </div>
                    <div class="m-3 d-inline-block">
                        <strong> 登録済ユーザーのみ:</strong>
                        <%= check_box :filt, "user_only"  ,checked: @useronly %>
                    </div>
                    <div class="m-3 d-none">
                        <strong> 1ユーザー1記録表示:</strong>
                        <%= check_box :filt, "best_only"  ,checked: @bestonly %>
                    </div>
                        <%= submit_tag "表示", :remote => true, :class => "btn btn-info btn-lg m-3" %>
                    <% end %>
                    <% if @ranks.count == 0 %>
                        <h4>記録はまだありません</h2>
                    <% else %>
                        <div id="ranking_lists">
                            <%= render 'ranking_list', {ranks: @ranks,dungeonname:@dungeonurl} %>
                        </div>
                        <div class="more w-100 text-center border-bottom border-right border-left border-dark p-3">
                            <%= link_to_next_page @ranks, 'もっと見る' , params: { movieonly: @movieonly,useronly: @useronly, bestonly: @bestonly }, remote: true, id: 'view_more' %>
                        </div>
                    <% end %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <div class="d-none d-md-inline col-md-3 mt-3">
            <div class="card">
                <div class="card-header <%= @color %> text-center">
                    <h5 class="font-italic text-white">ランキングアーカイブ</h5>
                </div>
                <div class="card-body bg-light">
                    <div class="card-text">
                        <% if @archives != nil %>
                        <ul style="list-style:none;">
                            <li><%= link_to "歴代ランキング", "/ranking/#{@dungeonurl}" %></li>
                            <% @archives.each do |yyyymm, count| %>
                            <li><%= link_to ymconv(yyyymm), "/ranking/#{@dungeonurl}/#{yyyymm}" %></li>
                            <% end %>
                        </ul>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>