<% content_for :title do %>
<%="#{@datetitle} #{@dungeonname}ランキング"%>
<% end %>
<div class="container">
    <div class="row">
        <nav class="navbar d-md-none navbar-expand-md col-md-12 navbar-dark bg-info ml-3 mr-3 mb-3">
            <h4 class="navbar-brand float-left">ランキングアーカイブ</h4>
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#archiveData"
                aria-controls="archiveData" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="archiveData">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <%= link_to "歴代ランキング", "/ranking/#{@dungeonurl}",class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <% if @archives != nil %>
                        <% @archives.each do |yyyymm, count| %>
                        <%= link_to ymconv(yyyymm), "/ranking/#{@dungeonurl}/#{yyyymm}",class:"nav-link"  %>
                        <% end %>
                        <% end %>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="col-md-9 col-md-auto">
            <% if @ranks != nil %>
            <div class="card">
                <div class="card-header <%= @color %> text-center">
                    <%= link_to "/ranking/#{@dungeonurl}/#{@nowyyyymm}" do %>
                    <h3 class="card-title float-left text-white">
                        <%= @datetitle%> <span class="h2"><%=@dungeonname  %></span>
                    </h3>
                    <% end %>
                    <a href="/ta/<%= @dungeonurl %>">
                        <button type="button"
                            class="btn btn-outline-light float-right"><%= fa_icon("chevron-right") %>解説</button>
                    </a>
                </div>
                <div class="card-body bg-light">
                    <div class="card-text">
                        <div id="ranking_lists"><%= render 'ranking_list', {ranks: @ranks,dungeonname:@dungeonurl } %>
                        </div>
                        <div class="more">
                            <%= link_to_next_page @ranks, 'もっと見る', remote: true, id: 'view_more' %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <div class="d-none d-md-inline col-md-3">
            <div class="card">
                <div class="card-header <%= @color %> text-center">
                    <h5 class="font-italic text-white">ランキングアーカイブ</h5>
                </div>
                <div class="card-body bg-light">
                    <div class="card-text">
                        <% if @archives != nil %>
                        <ul style="list-style:none;">
                            <li><%= link_to "歴代ランキング", "/ranking/#{@dungeonurl}" %></li>
                            <% @archives.each do |yyyymm, count| %>
                            <li><%= link_to ymconv(yyyymm), "/ranking/#{@dungeonurl}/#{yyyymm}" %></li>
                            <% end %>
                        </ul>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>