<% content_for :title do %>
    <%=@rankingtitle%>
<% end %>
<% content_for :mosttop do %>

<div class="container">
    <h1>シレン2総合番付</h1>
</div>

<% end %>

<div class="container">
    <h2><%= @rankingtitle %></h2>
    <table border="1">
        <tr>
            <td>名前</td>
            <td>ダンジョン</td>
            <td>記録</td>
            <td>URL</td>
            <td>達成日</td>
            <td>申請日</td>
            <td>画像</td>
        </tr>
    <% if @ranks != nil %>
        <% @ranks.each do |rank| %>
        <tr>
            <td><%= rank.name %></td>
            <td><%= rank.dungeon %></td>
            <td><%=
                if rank.result >= 3600 then
                    (rank.result.div(3600).to_s + "時間" + ((rank.result.modulo(3600)).div(60)).to_s + "分" + ((rank.result.modulo(3600)).modulo(60)).to_s + "秒")
                else
                    ((rank.result.div(60)).to_s + "分" + (rank.result.modulo(60)).to_s + "秒")
                end
            %></td>
            <td>
            <% if rank.movie == "" then %>
            なし
            <% else %>
            <%= link_to "動画", rank.movie %>
            <% end %>
            </td>
            <td><%= rank.resultdate.year %>/<%= rank.resultdate.month %>/<%= rank.resultdate.day %></td>
            <td><%= rank.created_at.year %>/<%= rank.created_at.month %>/<%= rank.created_at.day %></td>      
            <td>なし
            <!--<% if rank.recordimage == "" then %>
                なし
            <% else %>
               <%= image_tag rank.recordimage.url %>
            <% end %>--></td>
        </tr>
        <% end %>
    <% end %>
    </table>
    <%= button_to("申請","/ranking/newrecord",method: :get) %>
    <h4 class="font-italic">過去ログ</h4>
    <%= link_to "歴代ランキング", "/ranking/#{@dungeonurl}" %>
    <% if @archives != nil %>

        <ul style="list-style:none;">
            <% @archives.each do |yyyymm, count| %>
                <li><%= link_to ymconv(yyyymm, count.to_s), "/ranking/#{@dungeonurl}/#{yyyymm}" %></li>
            <% end %>
        </ul>
    <% end %>
</div>
