<div class="container">
<%= form_tag('/ranking/requestrecord', method: :post) do %>
    <table border="1">
        <tr>
            <td>名前</td>
            <td><%= text_field_tag("recorder","",{:maxlength => 15,:size => 30}) %></td>
        </tr>
            <td>ダンジョン</td>
            <td>
                <%= radio_button_tag("rb1","saihate") %>
                <%= label_tag("rb1_saihate","最果てへの道99FTA",{:checked => true}) %>
                <%= radio_button_tag("rb1","ido") %>
                <%= label_tag("rb1_ido","カラクロTA") %>
                <%= radio_button_tag("rb1","jinja") %>
                <%= label_tag("rb1_jinja","女王グモ捕獲TA") %>
                <%= radio_button_tag("rb1","onigashima") %>
                <%= label_tag("rb1_onigashima","鬼ヶ島ありありTA") %>
                <%= radio_button_tag("rb1","story") %>
                <%= label_tag("rb1_story","ストーリーTA") %>
            </td>
        <tr>
            <td>記録</td>
            <td>
            <%= text_field_tag("hours","", {:size => 2}) %> 時間
            <%= text_field_tag("minutes","", {:size => 2}) %> 分
            <%= text_field_tag("seconds","", {:size => 2}) %> 秒
            </td>
        </tr>
        <tr>
            <td>URL</td>
            <td><%= text_field_tag("url","",{:size => 80}) %></td>
        </tr>
        <tr>
            <td>達成日</td>
            <td><%= date_field_tag("recorddate") %></td>
        </tr>
    </table>
    <%= submit_tag("申請") %>


<% end %>
</div>