<% content_for :title do %>
マイデータ編集
<% end %>
<div class="container">
    <div class="row">
        <div class="offset-lg-3"></div>
        <div class="col-auto">
            <div class="card bg-light mt-5">
                <h2 class="card-title float-left pt-3 pl-3"><%= @user.name %>のデータ編集</h2>
                <div class="card-body">
                    <div class="card-text">
                        <%= form_tag("/user/#{@user.id}/update", :multipart => true) do %>
                        <% @user.errors.full_messages.each do |message| %>

                        <p class="text-danger"><%= message %></p>

                        <% end %>
                        <div class="field mb-2">
                            <%= label_tag "ニコニココミュ二ティ"%>
                            <%= text_field_tag 'niconico' , @user.niconico ,{class: "float-right"} %>
                        </div>
                        <div class="field mb-2">
                            <%= label_tag "Youtubeチャンネル"%>
                            <%= text_field_tag 'youtube' , @user.youtube,{class: "float-right"} %>
                        </div>
                        <div class="field mb-2">
                            <%= label_tag "Twitchチャンネル"%>
                            <%= text_field_tag 'twitch' , @user.twitch,{class: "float-right"} %>
                        </div>
                        <div class="field mb-2">
                            <%= label_tag "CaveTubeチャンネル"%>
                            <%= text_field_tag 'cavetube' , @user.cavetube,{class: "float-right"} %>
                        </div>
                        <div class="field mb-2">
                            <%= label_tag "プロフィール画像"%>
                            <%= file_field_tag 'icon' ,{class: "float-right"} %>
                            <p style="color:red;">※300x300にリサイズされます</p>
                        </div>
                        <div class="field mb-2">
                            <%= label_tag "自己紹介"%>
                            <%= hidden_field_tag "text", @user.introduction, id: :introduction_text %>
                            <trix-editor input="introduction_text"></trix-editor>
                        </div>
                        <input type="submit" value="編集" class="float-right btn btn-primary">
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //ナタネ村を非表示する
        document.getElementById("nataneVillage").style.display = "none";
    </script>