<% content_for :title do %>
<%=@title%>
<% end %>
<% content_for :mosttop do %>

<div class="container">
    <h1><%= @title %></h1>
</div>

<% end %>
<div class="container">
    <% if current_user.try(:admin?) && current_user.id == @uid.to_i %>
    <%= button_to("管理者画面","/admin",method: :get) %>
    <%end%>

    <% if current_user.try(:id)
        if current_user.id == @uid.to_i %>
    <%= button_to("マイデータ編集","/user/#{@uid}/edit",method: :get) %>
    <%end%>
    <%end%>
    <div class="row">
        <div class="col-12 text-center">
            <h2>リンク</h2>
        </div>
        <div class="col-3 text-center">
            <% if @user.niconico == "" || @user.niconico.nil?%>
            <%= image_tag("/images/niconico.png",class: "niconicoicon") %>
            <% else %>
            <%= link_to @user.niconico, target: "_blank" do %>
            <%= image_tag("/images/niconico.png",class: "niconicoicon") %>
            <% end %>
            <% end %>
        </div>
        <div class="col-3 text-center">
            <% if @user.youtube == "" || @user.youtube.nil?%>
            <%=fa_icon("youtube 3x", class: "youtubeicon")%>
            <% else %>
            <%= link_to fa_icon("youtube 3x", class: "youtubeicon fa-red"),@user.youtube  %>
            <% end %>
        </div>
        <div class="col-3 text-center">
            <% if @user.twitch == "" || @user.twitch.nil?%>
            <%=  fa_icon("twitch 3x", class: "twitchicon  fa-blue")  %>
            <% else %>
            <%= link_to fa_icon("twitch 3x", class: "twitchicon fa-blue"),@user.twitch  %>
            <% end %>
        </div>
        <div class="col-3 text-center">
            <% if @user.cavetube == "" || @user.cavetube.nil?%>
            <%= image_tag("/images/cavetube.png",class: "cavetubeicon") %>
            <% else %>
            <%= link_to @user.cavetube, target: "_blank" do %>
            <%= image_tag("/images/cavetube.png",class: "cavetubeicon") %>
            <% end %>
            <% end %>
        </div>
    </div>
</div>
<div class="container-fluid">
    <% if @ranks.count != 0 %>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>記録</h2>
        </div>
        <div class="offset-lg-1">
        </div>
        <% for num in 0.. @dungeons.size - 1 %>
        <div class="col-sm-12 col-md-6 col-lg-2 mb-3">
            <div class="card">
                <div class="card-header <%= @colors[num] %> text-center">
                    <%= link_to "/ranking/#{@links[num]}/#{@nowyyyymm}" do %>
                    <h3 class="card-title float-left text-white h4"><%= @dungeons[num] %></h3>
                    <% end %>
                </div>
                <div class="card-body bg-light">
                    <div class="card-text">
                        <div id="<%=@links[num] %>_ranking_lists">
                            <%= render 'user_ranking', { ranks: @myranks[num]} %>
                        </div>
                        <div class="more">
                            <%= link_to_next_page @myranks[num], 'もっと見る', params: { type: @links[num] }, remote: true,class: "btn btn-light w-100" , id: "view_#{@links[num]}" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        <% else %>
        <h2>記録はありません</h2>
        <% end %>
    </div>
</div>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script>
    //ナタネ村を非表示する
    document.getElementById("nataneVillage").style.display = "none";
</script>