<% content_for :title do %>
    <%=@title%>
<% end %>
<% content_for :mosttop do %>

<div class="container">
    <h1><%= @title %></h1>
</div>

<% end %>
<div class="container">
    <% if current_user.try(:admin?) && current_user.id == @uid.to_i %>
        <%= button_to("管理者画面","/admin",method: :get) %>
    <%end%>
<h2>リンク</h2>
<div class = "row">
<div class="col-sm-2 text-center">
<% if @user.niconico == "" || @user.niconico.nil?%>

<% else %>
    <%= link_to @user.niconico, target: "_blank" do %>
        <%= image_tag("/images/niconico.png",class: "niconicoicon") %>
    <% end %>
<% end %>
</div>
<div class="col-sm-2 text-center">
<% if @user.youtube == "" || @user.youtube.nil?%>

<% else %>
        <%= link_to fa_icon("youtube 3x", class: "youtubeicon"),@user.youtube  %>
<% end %>
</div>
<div class="col-sm-2 text-center">
<% if @user.twitch == "" || @user.twitch.nil?%>

<% else %>
    <%= link_to fa_icon("twitch 3x", class: "twitchicon"),@user.twitch  %>
<% end %>
</div>
<div class="col-sm-2 text-center">
<% if @user.cavetube == "" || @user.cavetube.nil?%>

<% else %>
        <%= link_to @user.cavetube, target: "_blank" do %>
        <%= image_tag("/images/cavetube.png",class: "cavetubeicon") %>
<% end %>
</div>
</div>
<% end %>

    <% if current_user.try(:id) %>
        <% if current_user.id == @uid.to_i %>
            <%= button_to("マイデータ編集","/user/#{@uid}/edit",method: :get) %>
        <%end%>
    <%end%>
    <% if @user.ranks.count != 0 %>
    <h2>記録</h2>
        <table border="1">
        <tr>
            <td>ダンジョン</td>
            <td>記録</td>
            <td>URL</td>
            <td>申請日</td>
            <td>画像</td>
        </tr>
        <% @user.ranks.each do |rank| %>
        <tr>
            <td><%= rank.dungeon %></td>
            <td><%=
                if rank.result >= 3600 then
                    (rank.result.div(3600).to_s + "時間" + ((rank.result.modulo(3600)).div(60)).to_s + "分" + ((rank.result.modulo(3600)).modulo(60)).to_s + "秒")
                else
                    ((rank.result.div(60)).to_s + "分" + (rank.result.modulo(60)).to_s + "秒")
                end
            %></td>
            <td>
            <% if rank.movie == "" then %>
            なし
            <% else %>
            <%= link_to "動画", rank.movie %>
            <% end %>
            </td>
            <td><%= rank.created_at.year %>/<%= rank.created_at.month %>/<%= rank.created_at.day %></td>
            <td>なし
            <!--<% if rank.recordimage == "" then %>
                なし
            <% else %>
               <%= image_tag rank.recordimage.url %>
            <% end %>--></td>
        </tr>
        <% end %>
    </table>
    <% else %>
    <h2>記録はありません</h2>
    <% end %>
</div>