<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <%= image_tag image_url('headfoot/logo.png'), { :class => "logo", :alt => "風来のシレン2タイムアタック番付" ,:title => "風来のシレン2タイムアタック番付" } %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerData"
        aria-controls="headerData" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="headerData">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <%= link_to "放送検索", search_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="dropdown_tool" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">ツール</a>
                <div class="dropdown-menu" aria-labelledby="dropdown_tool">
                    <%= link_to "お城素材カウンター", counter_path , class: "dropdown-item" %>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="dropdown_desc" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">解説</a>
                <div class="dropdown-menu" aria-labelledby="dropdown_desc">
                    <%= link_to "最果てへの道99FTA",saihateta_path , class: "dropdown-item"%>
                    <%= link_to "カラクロTA", wellta_path , class: "dropdown-item"%>
                    <%= link_to "鬼ヶ島ありありTA", onigashimata_path , class: "dropdown-item"%>
                    <%= link_to "ストーリーTA", storyta_path , class: "dropdown-item"%>
                    <%= link_to "女王グモ捕獲TA", shrineta_path , class: "dropdown-item"%>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="dropdown-ranking" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">シレン2番付</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-ranking">
                    <%= link_to "最果てへの道99FTA","/ranking/saihate/#{ Date.today.year.to_s + ("%02d" % Date.today.month).to_s}" , class: "dropdown-item"%>
                    <%= link_to "カラクロTA","/ranking/well/#{ Date.today.year.to_s + ("%02d" % Date.today.month).to_s}" , class: "dropdown-item"%>
                    <%= link_to "鬼ヶ島ありありTA","/ranking/onigashima/#{ Date.today.year.to_s + ("%02d" % Date.today.month).to_s}" , class: "dropdown-item"%>
                    <%= link_to "ストーリーTA","/ranking/story/#{ Date.today.year.to_s + ("%02d" % Date.today.month).to_s}" , class: "dropdown-item"%>
                    <%= link_to "女王グモ捕獲TA","/ranking/shrine/#{ Date.today.year.to_s + ("%02d" % Date.today.month).to_s}" , class: "dropdown-item"%>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to "記録申請", newrecord_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
                <% if user_signed_in?%>
                <%= link_to "マイページ", "/user/#{current_user.id}",class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "nav-link" %>
                <% elsif %>
                <%= link_to "ログイン",new_user_session_path,class: "nav-link" %>
                <% end %>
            </li>
        </ul>
    </div>
</nav>