<!DOCTYPE html>
<html>
  <head>
    <title>Shiren2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
      <div class="container">
        <div class="header-left">
            <a class="logo" href="/">シレン2</a>
        </div>
        <!-- ここにメニューアイコンを追加してください -->
          <span class="fa fa-bars menu-icon"></span>
  
        <div class="header-right">
          <a href="/ta">TA講座</a>
          <a href="/sa">スコアタ講座</a>
          <a href="/other">その他</a>
          <a href="/ranking">ランキング</a>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
